/**
 * Typo
 */
.btn-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 7px 15px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, .15);
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, .15);
  }

  &.red {
    background-color: red;
  }

  &.green {
    background-color: yellowgreen;
  }

  &.blue {
    background-color: dodgerblue;
  }

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }
}